.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-form {
    background: white;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .popup-form h3 {
    margin: 0;
  }
  
  .popup-form label {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .popup-form input, 
  .popup-form textarea, 
  .popup-form select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  h3{
    color: black;
  }
  



.form-button {
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1rem;
    transition: background-color var(--transition-speed);
  }
  
  .form-button:hover {
    background-color: var(--secondary-color); /* Change background color on hover */
  }