version: '3.8'

services:
  flagd-hub:
    image: flagd-hub:latest
    container_name: flagd-hub
    ports:
      - "8090:8090"
    environment:
      - ADMIN_USERNAME=admin
      - ADMIN_PASSWORD=admin
      - IS_SECURED=true
      - SECRET_KEY=b53b867f2a4c48f79a237d1d87e9b1fc3d5d87c8e42f53e85ab0a15b8c6f37d2
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=securepassword123
      - USE_IN_MEMORY_DATABASE=false
    depends_on:
      - redis
    volumes:
      - ./flagd-hub-server/feature-flags.json:/app/feature-flags.json

  flagd-hub-ui:
    image: flagd-hub-ui:latest
    container_name: flagd-hub-ui
    ports:
      - "3000:80"
    environment:
      - FLAGD_HUB_API_URL=http://localhost:8090
      - IS_SECURED=true
    depends_on:
      - flagd-hub

  redis:
    image: redis/redis-stack:latest
    container_name: redis
    ports:
      - "6379:6379"
      - "8001:8001" # Redis Stack GUI
    command: [ "redis-server", "--requirepass", "securepassword123" ]
    environment:
      REDIS_ARGS: --requirepass securepassword123
    volumes:
      - redis-data:/data

volumes:
  redis-data:


