version: '3.8'

services:
  flagd-hub:
    image: flagd-hub:latest
    container_name: flagd-hub
    ports:
      - "8090:8090"
    environment:
      - ADMIN_USERNAME=admin
      - ADMIN_PASSWORD=admin
      - IS_SECURED=true
      - SECRET_KEY=b53b867f2a4c48f79a237d1d87e9b1fc3d5d87c8e42f53e85ab0a15b8c6f37d2
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=securepassword123
      - CORS_ALLOWED_ORIGINS=http://localhost:3000
      - TOKEN_EXPIRATION_IN_HOURS=24
    depends_on:
      - redis

  flagd-hub-ui:
    image: flagd-hub-ui:latest
    container_name: flagd-hub-ui
    ports:
      - "3000:80"
    environment:
      - FLAGD_HUB_API_URL=http://localhost:8090
      - IS_SECURED=true
    depends_on:
      - flagd-hub

  redis:
    image: redis/redis-stack:latest
    container_name: redis
    ports:
      - "6379:6379"
      - "8001:8001" # Redis Stack GUI
    command: ["redis-server", "--requirepass", "securepassword123"]
    environment:
      REDIS_ARGS: --requirepass securepassword123
    volumes:
      - redis-data:/data

  flagd:
    image: ghcr.io/open-feature/flagd:latest
    container_name: flagd
    ports:
      - "8013:8013" # flagd evaluation API
    command:
      - "start"
      - "--uri"
      - "http://flagd-hub:8090/flagd/flags"
    depends_on:
      - flagd-hub
    restart: unless-stopped

volumes:
  redis-data:

