.logo{
    width: 170px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: auto;
    z-index: 1000;
    transition: transform 0.3s ease; /* Smooth transition */
}

.logo:hover {
    transform: scale(1.1); /* Grow the logo on hover */
    cursor: pointer; /* Change cursor to indicate it’s clickable */
  }