

.sidebar {
  width: 250px;
  background-color: var(--secondary-color);
  color: var(--light-bg);
  height: calc(100vh - 100px); /* Make sidebar fill the height, minus the header */
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow-y: auto; /* Makes sidebar scrollable */
  transition: all 0.3s ease-in-out; /* Smooth transition */
  z-index: 100;
}

.sidebar:hover {
  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
}

.sidebar h3 {
  text-align: center;
  font-size: 1.6rem;
  margin: 0;
  padding: 20px 0;
  font-weight: bold;
  border-bottom: 2px solid var(--dark-bg);
  color: var(--primary-color);
}

.sidebar ul {
  padding: 0;
  margin: 20px 0;
  list-style: none;
  flex-grow: 1;
}

.sidebar li {
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color var(--transition-speed), transform 0.2s ease;
  border-radius: 6px;
}

.sidebar li:hover {
  background-color: var(--dark-bg);
  transform: translateX(5px); /* Subtle hover effect */
}

.sidebar li.active {
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  color: #fff;
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

ul{
  color: var(--text-color);
  font-weight: bold;
}