/* Feature Card Info Button */
.info-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--primary-color);
    color: var(--light-bg);
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}


  /* Toggle Wrapper for Alignment */
  .toggle-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
  }

  .toggle-switch {
    position: relative;
    width: 50px;
    height: 25px;
    background-color: var(--background-color);
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, outline-color 0.3s;
    outline: 0.1px solid rgb(94, 94, 94);
  }
  
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .toggle-switch .slider {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-color: #c9c4c4;
    border-radius: 50%;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    transition: transform 0.3s, background-color 0.3s;
  }
  
  /* Checked State */
  .toggle-switch input:checked + .slider {
    transform: translate(25px, -50%);
    background-color:var(--primary-color);
  }

  
  .toggle-label.active {
    color: var(--primary-color);
  }
  
.info-button:hover {
    background-color: var(--accent-color); /* Hover effect with accent color */
}
  
.info-button:focus {
    outline: none;
    box-shadow: 0 0 3px var(--primary-color); /* Box shadow with primary color */
}
  
/* Adjust feature card to accommodate absolute button */
.feature-card {
    position: relative; /* Ensures the button stays within the card */
    padding-top: 16px; /* Prevent overlap of content with the button */
    background-color: var(--light-bg);
}

h4{
    color: var(--text-color)
}