/* Feature Card Info Button */
.info-button {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  background-color: var(--primary-color);
  color: var(--light-bg);
  border: none;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button {
  position: absolute;
  top: 0.625rem;
  z-index: 3;
  left: 0.625rem;
  border: none;
  width: 1.5rem;
  background-color: transparent;
  height: 1.5rem;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.delete-button:hover {
  transform: scale(1.2);
}

/* Toggle Wrapper for Alignment */
.toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  margin-top: 0.625rem;
}

.toggle-switch {
  position: relative;
  width: 3.125rem;
  height: 1.5625rem;
  background-color: var(--background-color);
  border-radius: 1.5625rem;
  cursor: pointer;
  transition: background-color 0.3s, outline-color 0.3s;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.flag-title {
  display: flex;
  justify-content: center;
  position: relative;
}

.changed-flag-indicator {
  position: absolute;
  right: 0;
  top: 0;
  scale: 0.7;
}

.toggle-switch .slider {
  position: absolute;
  content: '';
  width: 1.25rem;
  height: 1.25rem;
  background-color: #c9c4c4;
  border-radius: 50%;
  top: 50%;
  left: 0.1875rem;
  transform: translateY(-50%);
  transition: transform 0.3s, background-color 0.3s;
}

/* Checked State */
.toggle-switch input:checked + .slider {
  transform: translate(1.5625rem, -50%);
  background-color: var(--primary-color);
}

.toggle-label.active {
  color: var(--primary-color);
}

.info-button:hover {
  background-color: var(--accent-color);
}

.info-button:focus {
  outline: none;
  box-shadow: 0 0 0.1875rem var(--primary-color);
}

/* Adjust feature card to accommodate absolute button */
.feature-card {
  position: relative;
  padding-top: 1rem;
  background-color: var(--light-bg);
  max-width: 100%;
  border: 0.03125rem solid black;
  border-radius: 0.625rem;
}

h4 {
  cursor: pointer;
  font-size: large;
  transition: transform 0.3s, color 0.3s;
  color: var(--text-color);
  z-index: 5;
}

h4::after {
  content: "see description";
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

h4:hover::after {
  opacity: 1;
}

h4:hover {
  transform: scale(1.2);
  color: blue;
}

h4:active {
  transform: scale(0.95);
  color: var(--accent-color);
}
