/* Feature Card Info Button */
.info-button {
  border: none;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #34A853;
}

.info-button:hover {
  transform: scale(1.2);
  color: #1e8e3e;
}

.card-actions {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 0;
  gap: 1.5rem;
}

.delete-button, .edit-button {
  border: none;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: var(--text-color);
}

.delete-button:hover, .edit-button:hover {
  transform: scale(1.2);
}

.edit-button {
  color: #4285F4;
}

.edit-button:hover {
  color: #2b5797;
}

.delete-button {
  color: #EA4335;
}

.delete-button:hover {
  color: #c62828;
}

/* Toggle Wrapper for Alignment */
.toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  margin-top: 0.625rem;
}

.toggle-switch {
  position: relative;
  width: 3.125rem;
  height: 1.5625rem;
  background-color: var(--background-color);
  border-radius: 1.5625rem;
  cursor: pointer;
  transition: background-color 0.3s, outline-color 0.3s;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.flag-title {
  display: flex;
  justify-content: center;
  position: relative;
}

.changed-flag-indicator {
  position: absolute;
  right: 0;
  top: 0;
  scale: 0.7;
}

.toggle-switch .slider {
  position: absolute;
  content: '';
  width: 1.25rem;
  height: 1.25rem;
  background-color: #c9c4c4;
  border-radius: 50%;
  top: 50%;
  left: 0.1875rem;
  transform: translateY(-50%);
  transition: transform 0.3s, background-color 0.3s;
}

/* Checked State */
.toggle-switch input:checked + .slider {
  transform: translate(1.5625rem, -50%);
  background-color: var(--primary-color);
}

.toggle-label.active {
  color: var(--primary-color);
}

.info-button:focus {
  outline: none;
  box-shadow: 0 0 0.1875rem var(--primary-color);
}

/* Adjust feature card to accommodate absolute button */
.feature-card {
  position: relative;
  padding-top: 1rem;
  background-color: var(--light-bg);
  max-width: 100%;
  border: 0.03125rem solid black;
  border-radius: 0.625rem;
}

h4 {
  cursor: default;
  font-size: large;
  transition: transform 0.3s, color 0.3s;
  color: var(--text-color);
  z-index: 5;
}