.feature-flags {
    padding: 20px;
    height: 100%;
    max-height: 100%;
    overflow-y: hidden;
  }
  
  .feature-flags-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .no-feature-flags{
    font-size: 30px;
    display: flex;
    padding-top: 20px;
    justify-content: center;
  }

  .search-bar {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--light-bg);
    font-size: 1rem;
    width: 170px;
  }
  
  .feature-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between items */
    padding: 20px;
    box-sizing: border-box;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    height: 90%;
  }

  .feature-card {
    background-color: #fff;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
    text-align: center;
    outline: 10px black;
    flex-grow: 0;
  
    /* Allow the cards to grow and shrink dynamically */
    flex: 1 1 auto; 
    min-width: 100px; /* Cards won't be smaller than this */
    max-width: 400px; /* Cards won't be larger than this */
    max-height: 100px;
    margin-bottom: 20px; /* Space between rows */
  }

  .feature-card:only-child{
    min-width: 100px; /* Cards won't be smaller than this */
    max-width: fit-content; /* Cards won't be larger than this */
  }

  .feature-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .button-radio-group {
    display: flex;
    border-radius: 20px;
    gap: 10px;
    justify-content: center;
  }
  
  .button-radio {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color var(--transition-speed);
  }
  
  .button-radio.active {
    background-color: var(--primary-color);
    color: #fff;
    border-color: var(--primary-color);
  }
  
  .flagfs-actions{
    display: flex;
    flex-direction: row;
  }


/* Individual button-radio styles */
.button-radio {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  color: var(--dark-bg);
  background-color: var(--light-bg);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
  transition: all var(--transition-speed) ease-in-out;
}

/* Active state for button-radio */
.button-radio.active {
  background-color: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
}

/* Hide the actual radio input */
.button-radio input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}


/* Add hover effect */
.button-radio:hover {
  background-color: var(--primary-color);
  color: #fff;
}


h3{
  color: var(--text-color)
}

.header-button {
  padding: 10px 15px;
  width: fit-content;
  margin-left:10px;
  background-color: var(--light-bg);
  color: var(--dark-bg);
  border: none;
  border-radius: 50px; /* Increased for a more rounded shape */
  cursor: pointer;
  font-size: 1rem;
  transition: background-color var(--transition-speed);
}  

.header-button:hover {
  background-color: var(--primary-color);
  color: #fff;
}


