version: '3.8'
services:
  redis:
    image: redis:latest
    container_name: redis-secure
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    volumes:
      - redis_data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    ports:
      - "6379:6379"
    restart: always
  redis-insight:
    image: redis/redisinsight:latest
    restart: always
    ports:
      - '5540:5540'
volumes:
  redis_data:
    driver: local